stages:
  - orchestrate

opentofu:
  stage: orchestrate
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - infrastructure/**/*
        - pipelines/gitlab/opentofu-cd.yml
  trigger:
    include: pipelines/gitlab/opentofu-cd.yml
    strategy: depend

homeassistant:
  stage: orchestrate
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - applications/homeassistant/**/*
        - pipelines/gitlab/homeassistant-cd.yml
  trigger:
    include: pipelines/gitlab/homeassistant-cd.yml
    strategy: depend