- url: /hacsfiles/lovelace-mushroom/mushroom.js
  type: module
- url: /hacsfiles/button-card/button-card.js
  type: module
- url: /hacsfiles/light-entity-card/light-entity-card.js
  type: module
- url: /hacsfiles/lovelace-card-mod/card-mod.js
  type: module