apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: homepage-ingressroute
  namespace: homepage
spec:
  ingressClassName: traefik-internal
  entryPoints:
  - websecure
  routes:
  - match: Host(`homepage.kube.eggenberg.io`)
    kind: Rule
    services:
    - name: homepage
      port: 3000
  tls:
    secretName: homepage-certificate-secret