apiVersion: apps/v1
kind: Deployment
metadata:
  name: prowlarr
spec:
  selector: 
    matchLabels:
      app: prowlarr
  replicas: 1
  template:
    metadata:
      labels:
        app: prowlarr
    spec:
      securityContext:
        runAsUser: 865
        runAsGroup: 865
        fsGroup: 865
        fsGroupChangePolicy: "OnRootMismatch"
      containers:
      - image: lscr.io/linuxserver/prowlarr:latest
        name: prowlarr
        ports:
          - containerPort: 9696
            protocol: TCP
        env:
          - name: PUID
            value: "865"
          - name: PGID
            value: "865"
          - name: ALL_PROXY
            value: socks5h://vpn-gateway.media.svc.cluster.local:1080
          - name: HTTP_PROXY
            value: socks5h://vpn-gateway.media.svc.cluster.local:1080
          - name: HTTPS_PROXY
            value: socks5h://vpn-gateway.media.svc.cluster.local:1080
          - name: NO_PROXY
            value: ".svc,.cluster.local,localhost,127.0.0.1,storage.eggenberg.io"
        volumeMounts:
          - mountPath: /config
            name: arrstack
          - mountPath: /media
            name: nfs
      volumes:
        - name: nfs
          persistentVolumeClaim:
            claimName: jellyfin-nfs-pvc
        - name: arrstack
          persistentVolumeClaim:
            claimName: prowlarr-pvc
      restartPolicy: Always
