hostNetwork: false

service:
  type: LoadBalancer
  spec:
    loadBalancerIP: 10.10.20.50

ports:
  web:
    port: 8000
    expose:
      default: true
    exposedPort: 80
    protocol: TCP
  websecure:
    port: 8443
    expose:
      default: true
    exposedPort: 443
    protocol: TCP
  ssh:
    port: 8022
    expose:
      default: true
    exposedPort: 2222
    protocol: TCP

additionalArguments:
  - "--entrypoints.web.address=:8000"
  - "--entrypoints.websecure.address=:8443"
  - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
  - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
  - "--entrypoints.web.http.redirections.entryPoint.permanent=true"
  - "--entrypoints.ssh.address=:8022"
  - "--providers.kubernetescrd.ingressclass=traefik-internal"
  - "--providers.kubernetesingress.ingressclass=traefik-internal"
