---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: media-nfs-pv
spec:
  storageClassName: ""
  capacity:
    storage: 20Ti
  accessModes: [ "ReadWriteMany" ]
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - nfsvers=4.1
  nfs:
    server: storage.eggenberg.io
    path: /mnt/Storage/media
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-nfs-pvc
  namespace: media
spec:
  storageClassName: ""
  accessModes: [ "ReadWriteMany" ]
  resources:
    requests:
      storage: 20Ti
  volumeName: media-nfs-pv
