apiVersion: apps/v1
kind: Deployment
metadata:
  name: vpn-gateway
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vpn-gateway
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: vpn-gateway
    spec:
      containers:
        - name: gluetun
          image: qmcgaw/gluetun:latest
          securityContext:
            capabilities:
              add: [ "NET_ADMIN" ]
          lifecycle:
            postStart:
              exec:
                command: ["/bin/sh", "-c", "(ip rule del table 51820; ip -6 rule del table 51820) || true"]
          env:
            - name: VPN_SERVICE_PROVIDER
              value: protonvpn
            - name: VPN_TYPE
              value: wireguard
            - name: TZ
              value: UTC/UTC
            - name: VPN_PORT_FORWARDING
              value: "off"

            # SOCKS5 proxy
            - name: SOCKS5
              value: "on"
            - name: SOCKS5_LISTENING_ADDRESS
              value: ":1080"

            # Wireguard-config
            - name: SERVER_COUNTRIES
              value: Switzerland
            - name: WIREGUARD_PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: gateway-proton-secret
                  key: WIREGUARD_PRIVATE_KEY
            - name: WIREGUARD_ADDRESSES
              value: "10.2.0.2/32"
          ports:
            - name: socks5
              containerPort: 1080
